<h2>All Historical Landmarks</h2>

<!-- add content here -->

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>

<% Landmark.all.each do |x| %>
    <p><%= x.name %></p>
    <p><%= x.year_completed %></p>
<% end %>