<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">

  <label for="landmark_name">Name</label>
  <input type="text" name="landmark[name]" id="landmark_name" />
  <br>
  <label for="landmark_year_completed">Year: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" />

  <br>

  <h3>Figure</h3>
  <% @figures.each do |figure| %>
    <input type="radio" name="landmark[figure_id]" id="figure_<%= figure.id %>" value="<%= figure.id %>"><%= figure.name %><br>
  <% end %>

  <br>

  <label for="new_figure">Create New Figure: </label><br>
  <input type="text" name="figure[name]" id="new_figure" />

  <br>

  <input type="submit" value="Create New Landmark" />

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
